/* Set a background image by replacing the URL below */
body {
    background: url('https://thumbs.dreamstime.com/b/fondo-azul-claro-de-la-textura-del-fieltro-sentido-con-fibra-140637877.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
